
@{
    ViewBag.Title = "SinPermiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@* Pagina para notificar cuando el rol de usuario no tiene permiso para acceder 
   a ciertas opciones del menu*@
<h2>@ViewBag.Message</h2>

